export(br_prediction)
export(br_tpe)
export(br_omega)
export(br_advance)
S3method(print,br_prediction)
S3method(print,br_tpe)
S3method(print,br_omega)
S3method(print,br_advancement)
export(br_compare)
export(br_curve)
export(br_support)
S3method(print,br_comparison)
S3method(summary,br_comparison)
S3method(plot,br_comparison)
S3method(print,br_curve)
S3method(summary,br_curve)
S3method(plot,br_curve)
S3method(print,br_support)
S3method(summary,br_support)
S3method(plot,br_support)
